@import "foundation";
a.link {
    text-decoration: underline;
}

p {
    line-height: (22/16);
}

.gray {
    background: $light-gray;
}

.blue {
    color: $blue;
}

small {
    color: $dark-gray;
}

table.button table td a {
    text-transform: uppercase;
    font-size: 22px;
}

.border-r {
    border-right: 1px solid $border-gray;
}

.separator {
    border-bottom: 1px dashed $blue;
}


/* left program */

.separator-l {
    border-bottom: 1px dashed $blue;
    padding: 12px 0 0 0;
    text-align: left;
    display: block;
    width: 261px;
    float: left;
}

img.elips-l {
    clear: none;
    display: block;
    padding: 0;
    width: 27px;
    float: left;
}

th.left-header,
.left-header h5 {
    margin-bottom: 0;
    padding-bottom: 0;
}


/* /left program */

img.elips {
    position: absolute;
    padding: 23px 0 0 245px;
}


/* mobile */

@media only screen and (max-width: 40em) {
    th.border-r {
        border: none !important;
    }
    .separator-l {
        display: none !important;
    }
    .separator {
        display: none !important;
    }
    .elips {
        display: none !important;
    }
    .elips-l {
        display: none !important;
    }
    table.button table td a {
        text-transform: uppercase;
        font-size: 16px !important;
        text-align: center !important;
    }
}