<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width" />
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/stylesTemplate.css" inline>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800&amp;subset=cyrillic" rel="stylesheet"> </head>

<body>
    <table class="body">
        <tr>
            <td>
                <center>
                    <!-- letter -->
                    <container>
                        <!-- header -->
                        <row class="collapse">
                            <columns> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/header2_580.jpg" alt="GetDoctor"> </columns>
                        </row>
                        <!-- end header -->
                        <!-- greeting -->
                        <row class="collapse">
                            <columns large="4">
                                <spacer size="20"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/margarita.png" alt="Margarita"> </columns>
                            <columns large="8">
                                <h4 class="padding15"><strong>ИМЯ, привет!</strong></h4>
                                <p class="padding15">Меня зовут Маргарита, я менеджер здоровья в <a href="http://getdoctor.com/">GetDoctor</a>. Отлично, что вы уделили пару драгоценных минут экспресс-диагностике своего образа жизни. Результат ниже — это ваш «Ромбик баланса». В нем обозначены четыре критичные сферы, которые составляют ядро вашего благополучия.</p>
                            </columns>
                        </row>
                        <!-- end greeting -->
                        <wrapper>
                            <row>
                                <columns>
                                    <!-- gray box -->
                                    <row class="gray">
                                        <columns>
                                            <spacer size="15"></spacer>
                                            <p class="padding15mob"><em>Если бы вы питались правильно, никогда не нарушали режим и каждую неделю достигали бы новых результатов в спортзале, ромб был бы закрашен полностью. Но, видимо, вы живете немного иначе... Результат — вот такие вот показатели:</em></p>
                                            <row class="gray collapse">
                                                <columns> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/scheme.jpg" alt="Схема"></columns>
                                            </row>
                                            <spacer size="10"></spacer>
                                            <p class="padding15mob">
                                                <large><strong class="blue">ДВИЖЕНИЕ&nbsp;</strong></large> Активность и движение ― явно не ваше второе Я. Наверняка вы уже столкнулись с последствиями сидячего образа жизни, а какие-то из них уже стоят на пороге ― избыточный или недостаточный вес, плохой внешний вид, вялость, трудность концентрации на задачах, проблемы со здоровьем. К счастью, все это можно исправить. И даже если вам кажется, что вы не созданы для движения, поверьте, оно может не просто стать частью вашей жизни, но и дарить радость и удовольствие каждый день!</p>
                                            <spacer size="15"></spacer>
                                            <p class="padding15mob">
                                                <large><strong class="blue">ЭМОЦИИ И НАСТРОЕНИЕ&nbsp;</strong></large> Эмоциональное напряжение, подавленность, прокрастинация и ощущение, что ты не контролируешь свою жизнь ― вот самые частые симптомы постоянного стресса. И, кажется, вы с ними знакомы не понаслышке. Однако ж, повысить устойчивость к стрессу и наполнить жизнь позитивными эмоциями ― вполне реальная задача! Стоит только освоить проверенные, эффективные способы управления своими эмоциями.</p>
                                        </columns>
                                    </row>
                                    <!-- end gray box -->
                                    <row>
                                        <spacer size="10"></spacer>
                                        <p><strong>Хотите отлично выглядеть и чувствовать себя активным и бодрым человеком каждый день? Тогда выбирайте одну из программ:</strong></p>
                                        <spacer size="10"></spacer>
                                    </row>
                                    <!-- programs -->
                                    <!--Прочь депрессия-->
                                    <row class="gray collapse">
                                        <columns large="4">
                                            <spacer size="15"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/01.png" alt="Прочь депрессия"> </columns>
                                        <columns large="8">
                                            <spacer size="12"></spacer>
                                            <h5 class="separator-blue"><strong>Прочь депрессия</strong></h5>
                                            <p class="padding15">Включает темы «Антистресс», «Активность». Вы получите радость от возможностей нового дня, ощущение контроля своей собственной жизни!</p>
                                            <!-- button -->
                                            <div class="padding15">
                                                <button class="button" href="http://getdoctor.com/">ПРИСОЕДИНИТЬСЯ</button>
                                            </div>
                                            <!-- end button -->
                                        </columns>
                                    </row>
                                    <!--/Прочь депрессия-->
                                    <!--Крепкое здоровье-->
                                    <row class="collapse">
                                        <columns large="4">
                                            <spacer size="15"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/02.png" alt="Крепкое здоровье"> </columns>
                                        <columns large="8">
                                            <spacer size="12"></spacer>
                                            <h5 class="separator-green"><strong>Крепкое здоровье</strong></h5>
                                            <p class="padding15">Включает темы «Питание», «Активность». Вы получите лучшее самочувствие и выносливость, чтобы мочь и успевать больше.</p>
                                        </columns>
                                    </row>
                                    <!--/Крепкое здоровье-->
                                    <!--Энергия на максимум-->
                                    <row class="collapse">
                                        <columns large="4">
                                            <spacer size="15"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/03.png" alt="Энергия на максимум"> </columns>
                                        <columns large="8">
                                            <spacer size="12"></spacer>
                                            <h5 class="separator-green"><strong>Энергия на максимум</strong></h5>
                                            <p class="padding15">Включает темы «Антистресс», «Фитнес». Вы получите заряд энергии, который даст вам сил достигать самые амбициозные цели.</p>
                                        </columns>
                                    </row>
                                    <!--/Энергия на максимум-->
                                    <!-- Фигура мечты -->
                                    <row class="collapse">
                                        <columns large="4">
                                            <spacer size="15"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/04.png" alt="Фигура мечты"> </columns>
                                        <columns large="8">
                                            <spacer size="12"></spacer>
                                            <h5 class="separator-green"><strong>Фигура мечты</strong></h5>
                                            <p class="padding15">Включает темы «Питание», «Фитнес». Вы получите более подтянутое, стройное и здоровое тело, которым будете гордиться.</p>
                                        </columns>
                                    </row>
                                    <!-- /Фигура мечты -->
                                    <!--Прокачай тело-->
                                    <row class="collapse">
                                        <columns large="4">
                                            <spacer size="15"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/05.png" alt="Прокачай тело"> </columns>
                                        <columns large="8">
                                            <spacer size="12"></spacer>
                                            <h5 class="separator-green"><strong>Прокачай тело</strong></h5>
                                            <p class="padding15">Включает темы «Фитнес», «Активность». Вы получите мотивацию к занятиям фитнесом и активному образу жизни, привычку к регулярному движению где бы вы ни были.</p>
                                        </columns>
                                    </row>
                                    <!--/Прокачай тело-->
                                    <!--В гармонии с собой-->
                                    <row class="collapse">
                                        <columns large="4">
                                            <spacer size="15"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/06.png" alt="В гармонии с собой"> </columns>
                                        <columns large="8">
                                            <spacer size="12"></spacer>
                                            <h5 class="separator-green"><strong>В гармонии с собой</strong></h5>
                                            <p class="padding15">Включает темы «Питание», «Антистресс». Вы получите лучшее понимание себя, своего тела и способов управления своими состояниями.</p>
                                        </columns>
                                    </row>
                                    <!--/В гармонии с собой-->
                                    <!-- end programs -->
                                    <row class="collapse">
                                        <spacer size="10"></spacer>
                                        <p>Конечно, вы можете выбрать программу самостоятельно, но исходя из вашей ситуации, я рекомендую пройти программу <strong>«Прочь депрессия»</strong>. Работа по ней будет строиться с учетом индивидуальных особенностей, которые вы указали в анкете. </p>
                                        <spacer size="10"></spacer>
                                    </row>
                                    <!-- question -->
                                    <hr/>
                                    <row class="collapse">
                                        <spacer size="10"></spacer>
                                        <h5 class="text-center"><strong>Остались вопросы? Задайте их в ответном письме.<br/>Или решайтесь и <a class="link" href="http://getdoctor.com/">регистрируйтесь в программе</a>!</strong></h5>
                                        <spacer size="10"></spacer>
                                    </row>
                                    <row class="collapse">
                                        <columns large="4">
                                            <spacer size="15"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/margarita.png" alt="Margarita"> </columns>
                                        <columns large="8">
                                            <spacer size="20"></spacer>
                                            <p class="padding15"> <strong>До встречи!</strong> </p>
                                            <br/>
                                            <p class="padding15">Менеджер здоровья GetDoctor,
                                                <br/><em>Маргарита Кашкина</em></p>
                                        </columns>
                                    </row>
                                    <spacer size="30"></spacer>
                                    <hr/>
                                    <!-- end question -->
                                    <!-- footer -->
                                    <row class="gray collapse">
                                        <columns>
                                            <center>
                                                <spacer size="30"></spacer>
                                                <menu>
                                                    <item>
                                                        <a href="https://www.facebook.com/getdoctorcom/"><img src="http://aivazovskiy.com/img_mail_gd/fb.png" alt="facebook"></a>
                                                    </item>
                                                    <item>
                                                        <a href="https://vk.com/getdoctor"><img src="http://aivazovskiy.com/img_mail_gd/vk.png" alt="vkontakte"></a>
                                                    </item>
                                                    <item>
                                                        <a href="http://getdoctor.com/"><img src="http://aivazovskiy.com/img_mail_gd/gd.png" alt="getdoctor"></a>
                                                    </item>
                                                </menu>
                                                <spacer size="15"></spacer>
                                                <p class="text-center"><small>2017 Все права защищены. ООО «Гетдоктор»</small></p>
                                            </center>
                                        </columns>
                                    </row>
                                    <!-- end footer -->
                                </columns>
                            </row>
                        </wrapper>
                    </container>
                    <!-- end letter -->
                </center>
            </td>
        </tr>
    </table>
    <spacer size="30"></spacer>
</body>

</html>