<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width" />
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/stylesTemplate.css" inline>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800&amp;subset=cyrillic" rel="stylesheet"> </head>

<body>
    <table class="body">
        <tr>
            <td>
                <center>
                    <!-- letter -->
                    <container>
                        <!-- header -->
                        <row class="collapse">
                            <columns> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/header3_580.jpg" alt="GetDoctor"> </columns>
                        </row>
                        <!-- end header -->
                        <!-- greeting -->
                        <row class="collapse">
                            <columns large="4">
                                <spacer size="20"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/margarita.png" alt="Margarita"> </columns>
                            <columns large="8">
                                <h4 class="padding15"><strong>ИМЯ, привет!</strong></h4>
                                <p class="padding15">Поздравляю! Вы стали участником программы «Название программы».</p>
                                <p class="padding15 margin-btm-0">Меня зовут Маргарита, и я — коуч вашей группы на этой программе.</p>
                            </columns>
                        </row>
                        <row class="collapse">
                            <columns>
                                <p class="padding15 margin-btm-0">Три месяца вы вместе с другими участниками программы будете активно работать над собой, а я и вся наша команда — поддерживать вас в этом процессе. Это серьезная задача, и я уверена, что рано или поздно вам понадобится моя помощь, совет или поддержка.
                                    <br/>Обращайтесь ко мне в любое время, когда поймете, что это необходимо.</p>
                            </columns>
                        </row>
                        <hr/>
                        <!-- end greeting -->
                        <!-- end plus -->
                        <row class="collapse">
                            <columns>
                                <p class="padding15 margin-btm-0"> <strong>Исходя из результатов вашей диагностики и индивидуальных особенностей, которые вы указали, в процессе прохождения программы мы рекомендуем:</strong></p>
                            </columns>
                        </row>
                        <row class="collapse">
                            <columns large="1"> <img class="text-center padding-plus" src="http://aivazovskiy.com/img_mail_gd/elips_plus.png" alt="Плюс"> </columns>
                            <columns large="5">
                                <p class="padding15"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</em></p>
                            </columns>
                            <columns large="1"> <img class="text-center padding-plus-r" src="http://aivazovskiy.com/img_mail_gd/elips_plus.png" alt="Плюс"> </columns>
                            <columns large="5">
                                <p class="padding15"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</em></p>
                            </columns>
                        </row>
                        <row class="collapse">
                            <columns large="1"> <img class="text-center padding-plus" src="http://aivazovskiy.com/img_mail_gd/elips_plus.png" alt="Плюс"> </columns>
                            <columns large="5">
                                <p class="padding15"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</em></p>
                            </columns>
                            <columns large="1"> <img class="text-center padding-plus-r" src="http://aivazovskiy.com/img_mail_gd/elips_plus.png" alt="Плюс"> </columns>
                            <columns large="5">
                                <p class="padding15"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</em></p>
                            </columns>
                        </row>
                        <!-- end plus -->
                        <spacer size="10"></spacer>
                        <!-- note -->
                        <wrapper>
                            <row>
                                <columns class="padding-btm-0">
                                    <row>
                                        <columns large="2" class="padding-btm-0"> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/exclamation.png" alt="exclamation"> </columns>
                                        <columns large="10" class="gray">
                                            <p class="padding15"><em>Помните, что ваше здоровье — это, в первую очередь, ваша ответственность. Поэтому за выполнением наших рекомендаций, связанных с вашими индивидуальными особенностями, вы следите самостоятельно.</em></p>
                                        </columns>
                                    </row>
                                    <spacer size="10"></spacer>
                                    <row>
                                        <columns>
                                            <p> Если вы чувствуете, что что-то идет не так в процессе выполнения заданий программы, незамедлительно сообщите об этом мне личным сообщением. Нашу программу сопровождают не только коучи, но и медики, и вы сможете своевременно получить профессиональную медицинскую консультацию. Мы рассчитываем на понимание того, что наша программа предполагает участие условно здоровых людей и не является медицинской.</p>
                                        </columns>
                                    </row>
                                </columns>
                            </row>
                        </wrapper>
                        <!-- end note -->
                        <!-- book -->
                        <hr/>
                        <spacer size="10"></spacer>
                        <row class="collapse">
                            <columns large="4" class="padding-btm-0"> <img src="http://aivazovskiy.com/img_mail_gd/book.png" alt="book"> </columns>
                            <columns large="6">
                                <p class="padding15"> Выполнение домашних заданий вы каждый день будете отмечать в индивидуальном дневнике программы. У каждого участника свой персональный дневник, который ведется в Google Docs. Вот <a class="link" href="http://getdoctor.com/">ссылка на ваш</a> </p>
                                <p class="padding15"> Сохраните ее в избранном, чтобы она была удобна и доступна для ежедневного использования. Правила ведения дневника описаны <a class="link" href="http://getdoctor.com/">в группе на Facebook</a> </p>
                                <p class="padding15"> Мы постарались учесть все вопросы, которые могут возникнуть у вас по организационным моментам. До начала занятий внимательно изучите <a class="link" href="http://getdoctor.com/">вводную инструкцию</a> </p>
                            </columns>
                        </row>
                        <hr/>
                        <spacer size="15"></spacer>
                        <!-- end book -->
                        <!-- gray box -->
                        <wrapper>
                            <row>
                                <columns>
                                    <row class="gray">
                                        <columns>
                                            <spacer size="20"></spacer>
                                            <row class="gray collapse">
                                                <columns> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/like.png" alt="Like"></columns>
                                            </row>
                                            <spacer size="20"></spacer>
                                            <h5 class="text-center"><strong>Как происходит работа по программе?</strong></h5>
                                            <spacer size="10"></spacer>
                                            <p class="padding15mob">Основная площадка для нашего взаимодействия — Facebook. Если у вас пока нет здесь аккаунта, перейдите по ссылке <a class="link" href="http://facebook.com/">facebook.com</a> и заведите его — сделать это достаточно просто.</p>
                                            <spacer size="10"></spacer>
                                            <p class="padding15mob">Мы организовали в Facebook отдельные закрытые группы для работы по каждой программе. В них описаны общие цели программы и размещена организационная информация. Здесь будет появляться полезная информация об участии в программе и здесь можно будет обсуждать ход программы с другими участниками. Группа имеет статус закрытой, чтобы вам было комфортно заниматься в своей команде. </p>
                                            <spacer size="10"></spacer>
                                            <p class="padding15mob">Чтобы добавиться в группу вашей программы, перейдите <a class="link" href="http://getdoctor.com/">по ссылке</a> и отправьте запрос на добавление. Администратор одобрит вашу заявку в течение <strong class="yellow">КАКОГО-ТО ВРЕМЕНИ</strong>, и вы сможете начать осваиваться!</p>
                                            <spacer size="10"></spacer>
                                            <p class="padding15mob">После того, как все участники будут добавлены в группу, мы создадим Групповой чат в мессенджере Facebook. Используйте его для общения с другими участниками программы, делитесь своими достижениями и фото — здесь приветствуется любая активность!</p>
                                            <spacer size="10"></spacer>
                                            <p class="padding15mob">Если вы пока не самый активный пользователь Facebook, смотрите <a class="link" href="http://getdoctor.com/">по ссылке</a> пошаговые инструкции, как добавиться в группу и начать общение. </p>
                                            <spacer size="10"></spacer>
                                            <p class="padding15mob"><strong>Добро пожаловать на программу «Название программы»!</strong></p>
                                        </columns>
                                    </row>
                                </columns>
                            </row>
                        </wrapper>
                        <!-- end gray box -->
                        <!-- bye -->
                        <hr/>
                        <row class="collapse">
                            <columns large="4">
                                <spacer size="15"></spacer> <img class="text-center" src="http://aivazovskiy.com/img_mail_gd/margarita.png" alt="Margarita"> </columns>
                            <columns large="8">
                                <spacer size="20"></spacer>
                                <p class="padding15"> <strong>С уважением,</strong> </p>
                                <br/>
                                <p class="padding15">Менеджер здоровья GetDoctor,
                                    <br/><em>Маргарита Кашкина</em></p>
                            </columns>
                        </row>
                        <hr/>
                        <!-- end bye -->
                        <!-- footer -->
                        <row class="gray collapse">
                            <columns>
                                <center>
                                    <spacer size="30"></spacer>
                                    <menu>
                                        <item>
                                            <a href="https://www.facebook.com/getdoctorcom/"><img src="http://aivazovskiy.com/img_mail_gd/fb.png" alt="facebook"></a>
                                        </item>
                                        <item>
                                            <a href="https://vk.com/getdoctor"><img src="http://aivazovskiy.com/img_mail_gd/vk.png" alt="vkontakte"></a>
                                        </item>
                                        <item>
                                            <a href="http://getdoctor.com/"><img src="http://aivazovskiy.com/img_mail_gd/gd.png" alt="getdoctor"></a>
                                        </item>
                                    </menu>
                                    <spacer size="15"></spacer>
                                    <p class="text-center"><small>2017 Все права защищены. ООО «Гетдоктор»</small></p>
                                </center>
                            </columns>
                        </row>
                        <!-- end footer -->
                    </container>
                    <!-- end letter -->
                </center>
            </td>
        </tr>
    </table>
    <spacer size="30"></spacer>
</body>

</html>