<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width" />
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800&amp;subset=cyrillic" rel="stylesheet">
    <!--[if mso]> 
    <style> 
        .elips,.elips-l,.separator,.separator-l {
            display: none !important;
        }
           
        h5 {
            border-bottom: 1px dashed #4a90e2 !important;
        }
        
        h5.text-center {
            border-bottom: none !important;
        }  
    </style>
    </style>
    <![endif]-->
</head>

<body>
    <table class="body">
        <tr>
            <td>
                <center>
                    <container>
                        <!-- header -->
                        <row class="collapse">
                            <center> <img src="http://aivazovskiy.com/img_mail_gd/header580.jpg" alt="GetDoctor"> </center>
                        </row>
                        <!-- end header -->
                        <row>
                            <columns>
                                <spacer size="25"></spacer>
                                <h4><strong>Роман, привет!</strong></h4>
                                <spacer size="20"></spacer>
                                <p>Меня зовут Маргарита, я менеджер здоровья в <a class="link" href="http://getdoctor.com/">GetDoctor</a>.</p>
                                <p>Спасибо, что нашли время пройти экспресс-диагностику своего образа жизни. Я очень рада Вашему интересу к своему здоровью.</p>
                                <p>Давайте посмотрим, что у Вас получилось:</p>
                                <container>
                                    <!-- gray box -->
                                    <row class="gray">
                                        <columns>
                                            <spacer size="15"></spacer>
                                            <p><em>Посмотрите на “Диаграмму здоровья”: на ней отражены 4 критичные сферы жизни, которые составляют ядро вашего благополучия. В идеале, ромб должен быть закрашен полностью. Тогда с уверенностью можно говорить о том, что Ваше здоровье ― в надежных руках, и за него можно не опасаться. Но это бывает нечасто. Посмотрите, какая сфера нарушена у Вас, и что это означает:</em></p>
                                            <container>
                                                <row class="collapse gray">
                                                    <columns> <img src="http://aivazovskiy.com/img_mail_gd/scheme.jpg" alt="Схема"> </columns>
                                                </row>
                                            </container>
                                            <spacer size="10"></spacer>
                                            <p>
                                                <large><strong class="blue">ДВИЖЕНИЕ&nbsp;</strong></large> Активность и движение ― явно не ваше второе Я. Наверняка вы уже столкнулись с последствиями сидячего образа жизни, а какие-то из них уже стоят на пороге ― избыточный или недостаточный вес, плохой внешний вид, вялость, трудность концентрации на задачах, проблемы со здоровьем. К счастью, все это можно исправить. И даже если вам кажется, что вы не созданы для движения, поверьте, оно может не просто стать частью вашей жизни, но и дарить радость и удовольствие каждый день!</p>
                                            <spacer size="15"></spacer>
                                            <p>
                                                <large><strong class="blue">НАСТРОЕНИЕ&nbsp;</strong></large> Эмоциональное напряжение, подавленность, прокрастинация и ощущение, что ты не контролируешь свою жизнь ― вот самые частые симптомы постоянного стресса. И, кажется, вы с ними знакомы не понаслышке. Однако ж, повысить устойчивость к стрессу и наполнить жизнь позитивными эмоциями ― вполне реальная задача! Стоит только освоить проверенные, эффективные способы управления своими эмоциями.</p>
                                        </columns>
                                    </row>
                                    <!-- end gray box -->
                                    <spacer size="30"></spacer>
                                    <p>Хотите, чтобы через 3 месяца по результатам повторного тестирования вы получили письмо с ровным ромбом самого большого размера? Чтобы все сферы вашего образа жизни были “прокачаны” максимально эффективно, а вы чувствовали себя счастливее и энергичнее?</p>
                                    <p><strong>Тогда предлагаем вам пройти одну из программ:</strong></p>
                                    <!-- programs -->
                                    <!-- Фигура мечты -->
                                    <row>
                                        <columns large="6" class="border-r"><img src="http://aivazovskiy.com/img_mail_gd/elips.png" alt="" class="elips"> </columns>
                                        <columns large="6">
                                            <h5><strong>Фигура мечты</strong></h5>
                                            <p class="separator"></p>
                                            <p>Включает темы «Питание», «Фитнес». Вы получите более подтянутое, стройное и здоровое тело, которым будете гордиться.</p>
                                        </columns>
                                    </row>
                                    <!-- /Фигура мечты -->
                                    <!--Крепкое здоровье-->
                                    <row>
                                        <columns large="6" class="border-r left-header">
                                            <h5><strong>Крепкое здоровье</strong></h5> </columns>
                                        <columns large="6"></columns>
                                    </row>
                                    <!--separator-->
                                    <row>
                                        <p class="separator-l"></p> <img src="http://aivazovskiy.com/img_mail_gd/elips.png" alt="" class="elips-l"> </row>
                                    <!--/separator-->
                                    <row>
                                        <columns large="6" class="border-r">
                                            <p>Включает темы «Питание», «Активность». Вы получите лучшее самочувствие и выносливость, чтобы мочь и успевать больше.</p>
                                        </columns>
                                        <columns large="6"></columns>
                                    </row>
                                    <!--/Крепкое здоровье-->
                                    <!--Энергия на максимум-->
                                    <row>
                                        <columns large="6" class="border-r"><img src="http://aivazovskiy.com/img_mail_gd/elips.png" alt="" class="elips"> </columns>
                                        <columns large="6">
                                            <h5><strong>Энергия на максимум</strong></h5>
                                            <p class="separator"></p>
                                            <p>Включает темы «Антистресс», «Фитнес». Вы получите заряд энергии, который даст вам сил достигать свои самые амбициозные цели.</p>
                                        </columns>
                                    </row>
                                    <!--/Энергия на максимум-->
                                    <!--Прочь депрессия-->
                                    <row>
                                        <columns large="6" class="border-r left-header">
                                            <h5><strong>Прочь депрессия</strong></h5> </columns>
                                        <columns large="6"></columns>
                                    </row>
                                    <!--separator-->
                                    <row>
                                        <p class="separator-l"></p> <img src="http://aivazovskiy.com/img_mail_gd/elips.png" alt="" class="elips-l"> </row>
                                    <!--/separator-->
                                    <row>
                                        <columns large="6" class="border-r">
                                            <p>Включает темы «Антистресс», «Активность». Вы получите радость от возможностей нового дня, ощущение контроля своей собственной жизни.</p>
                                        </columns>
                                        <columns large="6"></columns>
                                    </row>
                                    <!--/Прочь депрессия-->
                                    <!--Прокачай тело-->
                                    <row>
                                        <columns large="6" class="border-r"><img src="http://aivazovskiy.com/img_mail_gd/elips.png" alt="" class="elips"> </columns>
                                        <columns large="6">
                                            <h5><strong>Прокачай тело</strong></h5>
                                            <p class="separator"></p>
                                            <p>Включает темы «Фитнес», «Активность». Вы получите мотивацию к занятиям фитнесом и активному образу жизни, привычку к регулярному движению где бы вы ни были.</p>
                                        </columns>
                                    </row>
                                    <!--/Прокачай тело-->
                                    <!--В гармонии с собой-->
                                    <row>
                                        <columns large="6" class="border-r left-header">
                                            <h5><strong>В гармонии с собой</strong></h5> </columns>
                                        <columns large="6"></columns>
                                    </row>
                                    <!--separator-->
                                    <row>
                                        <p class="separator-l"></p> <img src="http://aivazovskiy.com/img_mail_gd/elips.png" alt="" class="elips-l"> </row>
                                    <!--/separator-->
                                    <row>
                                        <columns large="6" class="border-r">
                                            <p>Включает темы «Питание», «Антистресс». Вы получите лучшее понимание себя, своего тела и способов управления своими состояниями.</p>
                                        </columns>
                                        <columns large="6"></columns>
                                    </row>
                                    <!--/В гармонии с собой-->
                                    <!-- end programs -->
                                    <spacer size="30"></spacer>
                                    <p>Роман, проанализировав Ваши результаты, я Вам рекомендую пройти программу:</p>
                                    <spacer size="10"></spacer>
                                    <!-- button -->
                                    <center>
                                        <button href="http://getdoctor.com/">Прочь депрессия!</button>
                                    </center>
                                    <!-- end button -->
                                    <spacer size="10"></spacer>
                                    <p>Но это только моя рекомендация. Вы можете сами выбрать ту программу, которая Вам больше нравится.</p>
                                    <spacer size="10"></spacer>
                                    <p>Работа на программе будет строиться с учетом ваших индивидуальных особенностей, указанных в анкете. Вы получите дополнительные инструкции о том, как ваше медицинское состояние повлияет на выполнение заданий.</p>
                                </container>
                            </columns>
                        </row>
                        <hr/>
                        <row>
                            <columns>
                                <spacer size="30"></spacer>
                                <h5 class="text-center"><strong>Сделайте сегодня то, за что будущий <br/>Вы скажете себе “Спасибо”!</strong></h5>
                                <spacer size="20"></spacer>
                                <p>Напишите в ответном письме, какую программу Вам бы хотелось пройти больше.</p>
                                <spacer size="20"></spacer>
                                <p> <strong>До встречи!</strong> </p>
                            </columns>
                        </row>
                        <hr/>
                        <row class="gray">
                            <columns>
                                <center>
                                    <spacer size="30"></spacer>
                                    <menu>
                                        <item>
                                            <a href="https://www.facebook.com/getdoctorcom/"><img src="http://aivazovskiy.com/img_mail_gd/fb.png" alt="facebook"></a>
                                        </item>
                                        <item>
                                            <a href="https://vk.com/getdoctor"><img src="http://aivazovskiy.com/img_mail_gd/vk.png" alt="vkontakte"></a>
                                        </item>
                                        <item>
                                            <a href="http://getdoctor.com/"><img src="http://aivazovskiy.com/img_mail_gd/gd.png" alt="getdoctor"></a>
                                        </item>
                                    </menu>
                                    <spacer size="15"></spacer>
                                    <p class="text-center"><small>2017 Все права защищены. ООО «Гетдоктор»</small></p>
                                </center>
                            </columns>
                        </row>
                    </container>
                </center>
            </td>
        </tr>
    </table>
</body>

</html>